.input-main {
    margin: 40px auto;
    width: 600px;
    position: relative;
}
input {
    padding: 10px;
    position: relative;
    outline: none;
    width: 300px;
}
.span-main {
    transition: top .5s ease;
    padding-left: 3px;
    padding-right: 3px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: 8px;
    color: rgb(174, 171, 171);

}
