<!DOCTYPE html>
<html lang='en-US'>
    <head>
        <title>Home Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0" />
        <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script data-desc="Namespace object">
            var ORDREConfigs = {
                components: []
            };
        </script>
        <script src="/components/global/js/index.js"></script>
    </head>
<body>
    <div class="wrapper">