
.input-number input {
    width: 50px;
}


.input-number span {
    padding: 0px;
    margin: 0px;
    position: absolute;
    top: -20px;
    left: 30px;
    color: black;
}

@media screen and (max-width: 600px) {
    .input-number {
        margin-left: 50px;
    }
} 